@font-face {
  font-family: 'News Cycle';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts_local/CSR64z1Qlv-GDxkbKVQ_fOAKSA.ttf) format('truetype');
}
@font-face {
  font-family: 'News Cycle';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts_local/CSR54z1Qlv-GDxkbKVQ_dFsvWNRevA.ttf) format('truetype');
}
